:root {
    --default-color: black;
    --hovered-color: yellow;
    --selected-color: blue;
    --grid-color: black;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.point {
    fill: var(--default-color);
    r: 1;
    stroke: none;
}

.point.hovered {
    fill: var(--hovered-color);
}

.point.selected {
    fill: var(--selected-color);
}

.path {
    fill: none;
    stroke: var(--default-color);
    stroke-width: 0.75;
}

.path.hovered {
    stroke: var(--hovered-color);
}

.path.selected {
    stroke: var(--selected-color);
}

.dragging {
    opacity: 0.5;
}

#grid {
    opacity: 0.25;
    stroke: var(--grid-color);
}

.grid-axes {
    opacity: 0.4;
    stroke: var(--grid-color);
    stroke-width: 0.5;
}