:root {
    --default-color: black;
    --hovered-color: yellow;
    --selected-color: blue;
    --grid-color: black;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.point {
    stroke: none;
    fill: var(--default-color);
}

.point.hovered {
    fill: var(--hovered-color);
}

.point.selected {
    fill: var(--selected-color);
}

.path {
    stroke: var(--default-color);
    fill: none;
}

.path.hovered {
    stroke: var(--hovered-color);
}

.path.selected {
    stroke: var(--selected-color);
}

.dragging {
    opacity: 0.5;
}

#grid {
    stroke: var(--grid-color);
    opacity: 0.25;
}

.grid-axes {
    stroke: var(--grid-color);
    stroke-width: 0.5;
    opacity: 0.4;
}